<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam voluptatum inventore quibusdam excepturi, dolore autem!</p>
  </div>
</section>
